<% if (error && error.length> 0) { %>
    <div class="alert text-center alert-danger m-3 mb-0">
        <% error.forEach(msg=> { %>
            <p class="m-0">
                <%= msg %>
            </p>
            <% }) %>
    </div>
<% } %>

<div class="my-4">
    <form action="/changepassword" method="POST" id="change-form">
        <div class="input-group mb-3">
            <input type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="Old Password"
                aria-label="Password" required>
        </div>
        <div class="input-group mb-3">
            <input type="password" name="newPassword" id="password" class="form-control" placeholder="New Password"
                aria-label="Password" required>
        </div>
        <div id="strengthMessage" class="mb-3 mt-0 text-start"></div> <!-- check strength -->
        <div class="input-group mb-3">
            <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm password"
                aria-label="Confirm password" required>
        </div>
        <div id="matchMessage" class="mb-3 mt-0 text-start"></div> <!-- check for match -->
        <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="/js/register.js" defer></script>
<%- contentFor('css') %>
