.newtaskform {
    max-width: 600px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.card-body {
    padding: 10px;
}

.card-title {
    font-size: 18px;
}

.card-text {
    font-size: 14px;
}

button {
    margin-right: 5px;
}

#newTaskForm {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
